Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Permite requisicoes direcionadas para /public.
    RewriteRule ^public(?:/.*)?$ - [L]

    # Bloqueia acesso direto fora da pasta publica.
    RewriteRule ^ - [F,L]
</IfModule>
